
<div class="container mt-5 ">
    <div class="row d-flex justify-content-center">
        <div class="col-5 mt-3">
            <form action="/category" method="POST">
                <select class="form-select" id="category" name="category" onchange="this.form.submit()">
                    <option  disabled selected>類別</option>
                    <option value="1">家居物業</option>
                    <option value="2">交通出行</option>
                    <option value="3">休閒娛樂</option>
                    <option value="4">餐飲食品</option>
                    <option value="5" >其他</option>
                </select>
            </form>
        </div>
    </div>
    
    <div class="row text-center mt-3">
        <div class="col d-flex justify-content-center mt-3" >
                <p>總金額：</p>
                <h2 class="text-center text-success">{{ totalAmount }}</h2>
        </div>
        <div class="col-12 mt-3">
            <ul class="list-group">
                {{#each expenses}}
                <li class="list-group-item">
                    <div class=" d-flex justify-content-between">
                            <div class=" mt-3">
                                <div class="text-info">
                                    <i class="fa-solid fa-house fs-5"></i>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between">
                                <div class="">
                                    <h4>{{this.name}}</h4>
                                    <span>
                                        <small>{{dateFormat this.date}}</small>
                                    </span>
                                </div>
                
                                    <h4>
                                        {{this.amount}}元
                                    </h4>
                                
                            </div>
                        <div class="mt-3">
                            <a class="btn btn-success" href="/expenses/{{this._id}}/edit">edit</a>
                            <form action="/expenses/{{this._id}}?_method=DELETE" method="POST" style="display: inline">
                                <button class="btn btn-danger" type="submit">delete</button>
                            </form>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-12 mt-3">
            <a class="btn btn-lg btn-primary mb-3" href="/expenses/new">新增支出</a>
        </div>
    </div>  
</div>

